footer{
    background-color: #ff5500;
    color: white;
    height: 50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif; 
    padding-top: 10px;
    margin-top:200px;
    width: 100%;
    
}

