<app-navbar></app-navbar>
<h3 style="margin: 10px;">Liste des Dépots en Cours:</h3>
<div class="table-depots-encours">
 <table class="table table-striped">
   <thead>
    <th>Excerice</th>
    <th>Nature de dépot</th>
    <th>Type</th>
    <th>Actions</th>
   </thead>
   <tbody>
    <tr>
        <td>2017</td>
        <td>initiale</td>
        <td>définitif</td>
        <td><button class="btn btn-info "><i class="fa-solid fa-check"></i></button> 
          <button class="btn btn-danger" style="margin-left: 5px;"><i class="fa-solid fa-trash"></i></button>
          <button class="btn btn-warning" style="margin-left: 5px;"><i class="fa-solid fa-pen-to-square"></i></button></td> 
    </tr>

    <tr>
        <td>2018</td>
        <td>réctificative</td>
        <td>Provisoir</td>
        <td><button class="btn btn-info "><i class="fa-solid fa-check"></i></button> 
          <button class="btn btn-danger" style="margin-left: 5px;"><i class="fa-solid fa-trash"></i></button>
          <button class="btn btn-warning" style="margin-left: 5px;"><i class="fa-solid fa-pen-to-square"></i></button></td> 
    </tr>
   </tbody>
 </table>
</div>

<app-footer></app-footer>
