<nav class="navbar" style="background-color: #ff5500;">
    <div class="logo">
     <p class="cimflogo"><b>CIMF</b></p>
    </div>
    <ul class="nav-links">
      <li><a routerLink="/depotLiasse">Dépôt liasse fiscale</a></li> <!--routerLink="/depot-liasse-fiscale"-->
      <li><a routerLink="/depotEnCours">Dépôt en cours</a></li>       <!--routerLink="/depot-en-cours"-->
      <li><a routerLink="/suiviDepot">Suivi des dépôts</a></li>     <!--routerLink="/suivi-des-depots"-->
    </ul>
    <button type="button" (click)="seDeconnecter()" class="btn"><i class="fa fa-sign-out" aria-hidden="true"></i>Déconnexion</button>
  </nav>
  
